## Visual Studio Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Xx]64/
[Xx]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio Environment & User Files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.vstoken

## Roslyn and Code Analysis
.cr/
.failed-spec
.processed-spec
.pushed-spec
*.orig

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/repository.config

## C++ Intermediate Files
*.aps
*.idb
*.intermediate.manifest
*.iobj
*.isym
*.pch
*.pdb
*.ipdb
*.obj
*.tlog
*.lastbuildstate
*.recipe
*.ilk
*.exp
*.lib

## Test Results and Coverage
TestResults/
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest
*.results
*.coverage
*.coveragexml

## Others
.DS_Store
[Tt]humb[Ss].db

documentation